<%- include header %>
    <% posts.forEach(function(post, index) {%>
    <h2><a href="/u/<%=post.author%>/<%=post.createDate.minute%>/<%=post.title%>"><%=post.title%></a></h2>
    <p class="info">
        <font>作者:</font>
        <a href="/u/<%=post.author%>"><img src="<%=post.head ? post.head : ''%>" class="head"></a>
        <a href="/u/<%=post.author%>"><%=post.author%></a>  |
        <font>发表日期:</font> <time><%=post.createDate.minute %></time>
        <font>标签：</font>
        <%if (post.tags) { post.tags.forEach(function(tag, index) { %>
        <% if (tag) { %>
        <a href="/tag/<%=tag %>" class="tag"><%=tag %></a>
        <% } }) %>
        <% }%>
    </p>
    <p class="content"><%- post.content%> ......
        <a href="/u/<%=post.author%>/<%=post.createDate.minute%>/<%=post.title%>">详情</a>
    </p>
    <div class="pv-div">
        <span>阅读：(<%=post.pv ? post.pv : 0 %>)</span>&nbsp;&nbsp;
        <span>评论：(<%=post.comments ? post.comments.length : 0 %>)</span>
    </div>

    <%})%>
<%- include page %>
<%- include footer %>
