<%- include header %>
    <% if (posts) { posts.forEach(function(post, index) {%>
    <h2><a href="/u/<%=post.author%>/<%=post.createDate.minute%>/<%=post.title%>"><%=post.title%></a></h2>
    <p class="info">
        <font>作者:</font> <a href="/u/<%=post.author%>"><%=post.author%></a>  |
        <font>发表日期:</font> <%=post.createDate.minute %>
        <font>标签：</font>
        <% if (post.tags) { post.tags.forEach(function(tag, index) { %>
        <% if (tag){ %>
        <span class="tag"><%=tag %></span>
        <% } }) %>
        <% } %>
    </p>
    <%}) }%>
<%- include page %>
<%- include footer %>